## Align to Chinook

In [37]:
import os.path
import numpy as np
import pandas as pd
from IPython.core.pylabtools import figsize
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=2)
sns.set_style("white")
%matplotlib inline

In [38]:
chin_ex = pd.read_excel(os.path.join('data','ref','chinook','Supplemental Table 1.xlsx'))
chin_ex.head()

,Locus,Chromosome,Duplicate,Arm,Position (cM),Region of population divergence,Paired-end annotation,Locus name from Larson et al. 2014,Outlier from Larson et al. 2014,Consensus Sequence
0,44207_x1,Ots01,1,p,0.00,0,NaN,NaN,NaN,TGCAGGTGTCTGCAAAAAAACACTCCCCTCCCTAGTTCTCCATATG...
1,28051_x1,Ots01,1,p,0.55,0,NaN,NaN,NaN,TGCAGGCACCTGGACAGCCACAAGGAGTCGCTAGATTGTGATGAGC...
2,6689_x1,Ots01,1,p,0.55,0,NaN,NaN,NaN,TGCAGGGAGAAACTTTGTAGTGGGGTGAAAAGAGGGAGAAGCATCG...
3,59778_x1,Ots01,1,p,0.55,0,NaN,NaN,NaN,TGCAGGATATTAATGCAGGTAAGAAGAAATGGCTTTTAAATGTTTT...
4,38781_x1,Ots01,1,p,0.55,0,PRTG,NaN,NaN,TGCAGGAAGGGTCCTCTGGTGGACAACAGAACTCCAGGGACTGGAC...

In [39]:
chin_ex = chin_ex[['Locus', 'Consensus Sequence']]
chin_ex['Locus_basename'] = [xx.split('_')[0] for xx in chin_ex['Locus'] ]
chin_ex.head()

      Locus                                 Consensus Sequence Locus_basename
0  44207_x1  TGCAGGTGTCTGCAAAAAAACACTCCCCTCCCTAGTTCTCCATATG...          44207
1  28051_x1  TGCAGGCACCTGGACAGCCACAAGGAGTCGCTAGATTGTGATGAGC...          28051
2   6689_x1  TGCAGGGAGAAACTTTGTAGTGGGGTGAAAAGAGGGAGAAGCATCG...           6689
3  59778_x1  TGCAGGATATTAATGCAGGTAAGAAGAAATGGCTTTTAAATGTTTT...          59778
4  38781_x1  TGCAGGAAGGGTCCTCTGGTGGACAACAGAACTCCAGGGACTGGAC...          38781

drop duplicates, checking with locus basename and sequence

In [40]:
chin_ex.drop_duplicates(subset = ['Locus_basename', 'Consensus Sequence'], inplace = True)

check that each locus is now present only once

In [41]:
len(set(chin_ex['Locus_basename'])) == len(chin_ex['Locus_basename'])

True

In [44]:
with open(os.path.join('data','ref','chinook','chin_ref.fasta'), 'w') as OUTFILE:
    count = 0
    for index,  locus_row in chin_ex.iterrows():
        
        OUTFILE.write('>{}\n{}\n'.format(locus_row['Locus_basename'], locus_row['Consensus Sequence']))

### Align chum loci to chinook loci using bowtie 2

In [45]:
chin_FASTA = os.path.join('data','ref','chinook','chin_ref.fasta')

In [46]:
print('bowtie2-build {} chinook'.format(chin_FASTA))

bowtie2-build data\ref\chinook\chin_ref.fasta salmo

chum ref

In [ ]:
chum_ref = '/media/Shared/Data/chum/populations/ref/paper_1/chum_paper_1_ref.CURATED.fasta'

align

In [ ]:
SAM_output = '/home/ipseg/Desktop/waples/chum_populations/results/batch_4/synteny/to_chinook.SAM'
filtered_SAM_output = '/home/ipseg/Desktop/waples/chum_populations/results/batch_4/synteny/to_chinook.filtered.SAM'

In [ ]:
run bowtie 2

check directories here

In [ ]:
print('bowtie2 -f --local --very-sensitive -p 4 -x /home/ipseg/Data/chinook/chinook -U {} -S {}'.format(chum_ref, SAM_output))